In [1]:
import requests
import pandas as pd

In [2]:
df=pd.read_csv('datasets/dialect_dataset.csv')
df.sample(5)

                         id dialect
170818  1176508550237118464      JO
450161   606469608611061760      BH
357994   940595025657856000      KW
52662   1109172040945274752      QA
131999  1142623397219831808      SY

In [3]:
df.shape

(458197, 2)

In [9]:
response=requests.post(url='https://recruitment.aimtechnologies.co/ai-tasks',
                       json=["1055620304465215616", "1057418989293485952"])
response.json()

{'1055620304465215616': '@MahmoudWaked7 @maganenoo في طريق مطروح مركز بهيج  والمركز الي الي جمبه اسمه ايه😂😂',
 '1057418989293485952': '@mycousinvinnyys @hanyamikhail1 متهيالي دي شكولاته الهالوين  فين المحل ده'}

In [90]:
data=pd.DataFrame(columns=['id','tweet','dialect'])
start=0
for _ in range(start,len(df),1000): 
    sub_df=df.iloc[start:start+1000]
    start+=1000
    
    try:
        response=requests.post(url='https://recruitment.aimtechnologies.co/ai-tasks',
                               json=sub_df.id.values.astype(str).tolist())

        data=data.append(pd.DataFrame(list(zip(sub_df.id,
                                               list(response.json().values()),
                                               sub_df.dialect))
                                      ,columns=['id','tweet','dialect']),
                         ignore_index = True)
    except:
        print('There is an error in API, the status code= {}'.format(response.status_code))

In [181]:
#check randomly if dialect of fetched data and original dataframe with the same ids are equal

random_samples=data.sample(100)
sorted(random_samples.dialect.values)==sorted(df[df.id.isin(random_samples.id)].dialect.values)

True

In [93]:
data.to_csv('datasets/fetched_data.csv',index=False)